* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0 auto;
    width: 100%;
}
body > * {
    flex-shrink: 0;
}
body::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url('/img/wood.jpg');
    background-repeat: repeat-x repeat-y;
    overflow: hidden;
    filter: blur(1px) saturate(60%) brightness(90%);
}
#footer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button {
    border-radius: 50%;
    border: 6px solid #9d8549;
    background-color: #c5a968;
    -webkit-transition: -webkit-transform .15s ease-in;
    transition: transform .15s ease-in;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#button i {
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#button.hover{
    -webkit-transform:scale3d(.95,.95,1);
    transform:scale3d(.95,.95,1);
    background-color: #837146;
}
@media only screen and (min-width : 992px) {
    body {
        width: 40%;
    }
    body::before {
        width: 40%; 
    }
    #button {
        width: 120px;
        height: 120px;
    }
    #button i {
        font-size: 60px;
        line-height: 120px;
    }
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?y5fi61');
  src:  url('/fonts/icomoon.eot?y5fi61#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?y5fi61') format('truetype'),
    url('/fonts/icomoon.woff?y5fi61') format('woff'),
    url('/fonts/icomoon.svg?y5fi61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
